section.main, section.create, section.create_noauth, section.create_success,
section.survey_noauth, section.take_survey, section.view_survey,
section.survey_notfound, section.contention {
  display: none;
}

textarea {
    width: 400px;
}

.take_survey .first, .take_survey .second {
    text-align: center;
    background-color: #ddd;
    padding: 2em;
}

.take_survey .first:hover, .take_survey .second:hover {
    background-color: #ccc;
    pointer: cursor;
}

footer {
    margin-top: 5em;
}

a.btn-primary {
    color: #fff;
}

td.contention:hover {
    cursor: pointer;
}

td.contention_1 {
    font-size: 1.05em;
    color: #100;
}

td.contention_2 {
    font-size: 1.1em;
    color: #200;
}

td.contention_3 {
    font-size: 1.2em;
    color: #400;
}

td.contention_4 {
    font-size: 1.5em;
    color: #800;
}

td.contention_5 {
    font-size: 2em;
    font-style: bold;
    color: #f00;
}

img.face  {
    height: 48px;
    width: 48px;
}

img.face:hover {
    cursor: pointer;
}

.faces.limiting img {
    opacity: .5;
}

.faces.limiting img.include {
    opacity: 1;
}

section.contention {
    position: fixed;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
    margin: 0;
}

section.contention div.opaque {
    position: fixed;
    opacity: .5;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    z-index: -1;
}

section.contention div.well {
    postion: fixed;
    margin: 10% auto;
    width: 800px;
    height: 400px;
    background-color: #fff;
}
section.contention div.well div.contention_view {
    position: relative;
    height: 77%;
    margin-top: 3%;
}

div.contention_view > div {
    height: 100%;
    width: 16.5%;
    float: left;
    text-align: center;
    border-left: 1px solid grey;
}

div.contention_view > div:last-child {
    border-right: 1px solid grey;
}