section.main, section.create, section.create_noauth, section.create_success,
section.survey_noauth, section.take_survey, section.view_survey, section.survey_notfound {
  display: none;
}

textarea {
    width: 400px;
}

.take_survey .first, .take_survey .second {
    text-align: center;
    background-color: #ddd;
    padding: 2em;
}

.take_survey .first:hover, .take_survey .second:hover {
    background-color: #ccc;
    pointer: cursor;
}

footer {
    margin-top: 5em;
}

a.btn-primary {
    color: #fff;
}

td.contention_1 {
    font-size: 1.05em;
    color: #100;
}

td.contention_2 {
    font-size: 1.1em;
    color: #200;
}

td.contention_3 {
    font-size: 1.2em;
    color: #400;
}

td.contention_4 {
    font-size: 1.5em;
    color: #800;
}

td.contention_5 {
    font-size: 2em;
    font-style: bold;
    color: #f00;
}

img.face  {
    height: 48px;
    width: 48px;
}

img.face:hover {
    cursor: pointer;
}

.faces.limiting img {
    opacity: .5;
}

.faces.limiting img.include {
    opacity: 1;
}